[user]
	name = kotako
	email = sy.empress0321@gmail.com
[core]
	excludefile = ~/.gitignore_global
	editor = vim
[alias]
  a = add .
	c = commit -m
	b = branch
	d = diff
	co = checkout
  s = status
	sh = show
	l = log
	m = merge
[filter "lfs"]
	required = true
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	clean = git-lfs clean -- %f
