"*":
  "autocomplete-python":
    useKite: false
  core:
    allowPendingPaneItems: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "markdown-preview"
    ]
    telemetryConsent: "no"
    themes: [
      "vertex-ui"
      "one-dark-syntax"
    ]
  editor:
    showIndentGuide: true
  "exception-reporting":
    userId: "88eb0d62-70f1-4c93-8de5-52abd188987a"
  "linter-ui-default":
    alwaysTakeMinimumSpace: true
    hidePanelWhenEmpty: false
    panelHeight: 245
    showPanel: true
  "platformio-ide-terminal":
    core:
      shell: "/usr/local/bin/fish"
    toggles:
      autoClose: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      showInStatusBar: true
    prettierOptions:
      singleQuote: true
    useEslint: true
    useStylelint: true
  "tree-view": {}
  welcome:
    showOnStartup: false
".al.infer.source":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
    showIndentGuide: false
".ansi.text":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
    showIndentGuide: false
".diff.mercurial.source":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
    showIndentGuide: false
".hack.html.text":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
    showIndentGuide: false
".hackfragment.source":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
    showIndentGuide: false
".reason.source":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
    showIndentGuide: false
