# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'.source.js':
  'let':
    'prefix': 'l'
    'body': 'let '
  'const':
    'prefix': 'c'
    'body': 'const '
  'return':
    'prefix': 'r'
    'body': 'return $1;$2'
  'arrow func':
    'prefix': 'a'
    'body': '=>'
  'import':
    'prefix': 'i'
    'body': "import $1 from '$2';$3"
  'export':
    'prefix': 'e'
    'body': 'export '
  'export default':
    'prefix': 'ed'
    'body': 'export default $1;$2'
  'create sfc':
    'prefix': 'sf'
    'body': 'const $1 = ($2) => $3;'
  'console log':
    'prefix': 'log'
    'body': 'console.log $1'
  # flow
  'define flow type':
    'prefix': 'f'
    'body': '// @flow'
  'import flow type':
    'prefix': 'fo'
    'body': "import type {$1} from '$2';$3"
  # react
  'react import':
    'prefix': 'ri'
    'body': "import React from 'react';"
  'react init':
    'prefix': 'rr'
    'body': """
    import React from 'react';

    """
  'react init with flow':
    'prefix': 'rrf'
    'body': """
      // @flow

      import React from 'react';
    """
